# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/**/*.json
!/broadcast/*/**/run-latest.json
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

node_modules
